@media (max-width: 1140px) {
  nav ul li a {
    font-size: 16px;
  }

  .key-rows {
    display: flex;
  }
}

@media (max-width: 960px) {
  header {
    grid-template-columns: 25% 75%;
  }

  .key-rows {
    display: block;
  }

  .key-box {
    margin: 30px 0;
  }
}

@media (max-width: 850px) {
  .banner {
    padding: 20px 120px;
  }

  .banner-heading {
    font-size: 30px;
  }

  nav ul li {
    display: flex;
    transition: all 0.3s ease-in-out;
  }

  #check:checked ~ .toogle-sidebar {
    display: block;
    transition: all 0.3s ease-in-out;
  }

  .toogle-sidebar {
    display: none;
  }

  .toogle-bars i {
    display: block;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-in-out;
  }
}
@media (max-width: 650px) {
  .banner {
    padding: 20px 80px;
  }
  .banner-heading {
    font-size: 25px;
  }
}
@media (max-width: 757px) {
  .banner {
    padding: 20px 120px;
  }

  .banner-heading {
    font-size: 30px;
  }

  nav ul li {
    display: flex;
  }

  #check:checked ~ .toogle-sidebar {
    display: block;
  }

  .toogle-sidebar {
    display: none;
  }

  .toogle-bars i {
    display: block;
    cursor: pointer;
    float: right;
  }
}

@media (max-width: 575px) {
  .banner {
    padding: 20px 65px;
  }

  .banner-heading {
    font-size: 25px;
  }

  button {
    margin-top: 20px;
  }

  #converter {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .banner {
    padding: 20px 30px;
  }

  .banner-heading {
    font-size: 20px;
  }

  main input {
    padding: 15px 60px;
    border: none;
  }

  .about-tool p {
    line-height: 1.5;
  }

  #check:checked ~ .toogle-sidebar {
    display: block;
  }

  .toogle-sidebar {
    display: none;
  }

  .toogle-bars i {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 400px) {
  .banner {
    padding: 20px 30px;
  }

  .banner-heading {
    font-size: 18px;
  }

  header {
    grid-template-columns: 35% 65%;
  }
  .banner-para {
    padding: 20px 0;
    font-size: 16px;
  }
}
@media (max-width: 300px) {
  .banner {
    padding: 20px 30px;
  }

  .banner-heading {
    font-size: 18px;
  }

  header {
    grid-template-columns: 45% 55%;
  }
  .banner-para {
    padding: 20px 0;
    font-size: 16px;
  }

  main input {
    padding: 15px 20px;
    border: none;
  }
}

@media (max-width: 350px) {
  main input {
    padding: 15px 35px;
    border: none;
  }
}
